name: Test Workflow


on: workflow_dispatch

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Hello
        run: |
          echo "Hello, World"

      - name: Get yq version
        run: |
          yq --version
          
          
